@using Karata.Cards
@using Karata.Cards.Extensions
@using static Karata.Cards.Card.CardColor
@using static Karata.Cards.Card.CardFace
@using static Karata.Cards.Card.CardSuit

<div id="table">
    <div id="top" class="hand-container">
        <HandComponent Cards="@Cards" FaceUp="false" />
    </div>
    <div id="left" class="hand-container">
        <HandComponent Cards="@Cards" FaceUp="false" />
    </div>
    <div id="right" class="hand-container">
        <HandComponent Cards="@Cards" FaceUp="false" />
    </div>
    <div id="bottom" class="hand-container">
        <HandComponent Cards="@Cards" FaceUp="true" />
    </div>
    <img id="deck" src="img/cards/Back.svg" />
    <img id="pile" src="img/cards/NineHearts.svg" />
</div>

@code {
    public List<Card> Cards { get; set; } = new()
    {
        Ace.Of(Spades),
        Nine.Of(Spades),
        Queen.Of(Spades),
        Black.ColoredJoker()
    };
}