@inherits LayoutComponentBase

@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.BottomRight"
                ShowProgressBar="true" 
                RemoveToastsOnNavigation="true"	
                MaxToastCount="5" />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://github.com/sixpeteunder/karata" target="_blank">
                <i class="bi bi-github me-2"></i> GitHub
            </a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
