@using System.Collections.Immutable

<div class="hand">
    @foreach (var card in Cards)
    {
        <CardComponent Card="@card" FaceUp="@FaceUp" OnClick="SelectCard" />
    }
</div>

@code
{
    [Parameter]
    public ImmutableList<Card> Cards { get; set; }

    [Parameter]
    public bool FaceUp { get; set; }

    [Parameter]
    public EventCallback<Card> OnCardSelected { get; set; }

    private async Task SelectCard(Card card) => await OnCardSelected.InvokeAsync(card);
}