<div class="px-6 pt-2 pb-4">
    <MudText Class="mb-2">This game requires a password. Enter it to continue.</MudText>

    <MudPasswordField Class="mb-4" @bind-Value="@_password" Variant="Variant.Filled" Label="Password"/>

    <MudButton OnClick="SubmitForm">Submit</MudButton>
</div>

@code{
    string _password = string.Empty;

    [CascadingParameter]
    IMudDialogInstance MudDialog { get; set; } = null!;

    private void SubmitForm() => MudDialog.Close(_password);

    private void Cancel() => MudDialog.Close();
}