@inherits LayoutComponentBase

<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout Class="mud-height-full">
    <MudAppBar Class="gray lighten-4" Elevation="0">
        <MudLink Href="/" Typo="Typo.body1" Color="Color.Dark" Class="me-4" Underline="Underline.None">
            Karata
        </MudLink>
        <AuthorizeView>
            <MudLink Href="/game/join" Typo="Typo.body2" Class="me-4" Color="Color.Dark">
                Play
            </MudLink>
        </AuthorizeView>
        <MudLink Href="/about" Typo="Typo.body2" Class="me-4" Color="Color.Dark">
            About
        </MudLink>
        <MudLink Href="/help" Typo="Typo.body2" Color="Color.Dark">
            Help
        </MudLink>
        <MudSpacer />
        <AuthorizeView>
            <Authorized>
                <MudLink Href="Identity/Account/Manage" Typo="Typo.body2" Class="me-4">
                    Hello, @context.User.Identity!.Name
                </MudLink>
                <MudButton Variant="Variant.Text" Color="Color.Error" Size="Size.Small" ButtonType="ButtonType.Submit" form="logout">
                    Log out
                </MudButton>
                <form id="logout" method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" class="d-none"></form>
            </Authorized>
            <NotAuthorized>
                <MudLink Href="Identity/Account/Register" Typo="Typo.body2" Class="me-4" Color="Color.Dark">
                    Register
                </MudLink>
                <MudLink Href="Identity/Account/Login" Typo="Typo.body2" Class="me-2" Color="Color.Dark">
                    Log in
                </MudLink>
            </NotAuthorized>
        </AuthorizeView>
        <MudIconButton Icon="@Icons.Material.Filled.DarkMode" Color="Color.Dark"/>
    </MudAppBar>
    <MudMainContent Class="mud-height-full" Style="position: relative">
        @Body
    </MudMainContent>
</MudLayout>
