@page "/"
@namespace Karata.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    // Capture the security cookie when the the initial call
    // to the Blazor is being executed. Initial call is when
    // the user type the url of your Blazor App in the address
    // bar and press enter, or when the user is being redirected
    // from the Login form to your Blazor SPA
    // See more here: https://stackoverflow.com/a/59538319/6152891
    var cookie = HttpContext.Request.Cookies[".AspNetCore.Identity.Application"];

    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="mud-height-full">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Karata</title>
    <base href="~/" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="Karata.Web.styles.css" rel="stylesheet" />
</head>
<body class="mud-height-full">
    <component type="typeof(App)" render-mode="ServerPrerendered" param-Cookie="cookie"/>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>
</html>
