@page "/game/{id:guid}/replay"

@using System.Collections.Immutable
@using System.Reactive.Disposables
@using System.Reactive.Disposables.Fluent
@using System.Reactive.Linq
@using Karata.Kit.Application.Client.Connection
@using Karata.Kit.Application.Client.State
@using Karata.Kit.Application.Store
@using Karata.Pebble.Interceptors
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting

@attribute [Authorize]

@implements IDisposable

@inject AuthenticationStateProvider Authenticator
@inject IAccessTokenProvider Provider
@inject ILoggerFactory LoggerFactory
@inject ISnackbar Snackbar
@inject NavigationManager Navigator
@inject IWebAssemblyHostEnvironment Environment

<SessionGuard Session="_session">
    <MudLoading Loading="@(_room is null)" Text="Please wait..." Class="mud-height-full pa-0">
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mud-height-full pa-0">
            @if (_room is not null)
            {
                <MudGrid Class="mud-height-full px-4 pt-4">
                    <MudItem xs="12" md="8" xl="9" xxl="10">
                        @* TODO: What is this 88vh? *@
                        <MudCard Elevation="0" Style="background-color: transparent; height: 88vh">
                            <CardTableGameInterface Game="_room.State.Game"
                                                    Hand="CurrentHand"
                                                    Turn="_turn.State"
                                                    OnAddCardToTurn="info => _turn.Mutate(new TurnStore.Insert(info))"
                                                    OnReorderCardInTurn="info => _turn.Mutate(new TurnStore.Reorder(info))"
                                                    OnRemoveCardFromTurn="card => _turn.Mutate(new TurnStore.Remove(card))"/>
                        </MudCard>
                    </MudItem>
                    <MudItem Class="mud-height-full overflow-y-scroll" xs="12" md="4" xl="3" xxl="2">
                        <MudExpansionPanels Outlined="false" Elevation="0" Class="mb-4">
                            <MudExpansionPanel Text="Information" Class="px-4">
                                <InformationPanel Room="_room!.State"/>
                            </MudExpansionPanel>
                            <MudExpansionPanel Text="Players" Class="px-4">
                                <PlayersPanel Me="CurrentHand.Id" Room="_room.State" />
                            </MudExpansionPanel>
                        </MudExpansionPanels>
                    </MudItem>
                </MudGrid>
            }
        </MudContainer>
    </MudLoading>
</SessionGuard>

@code
{
    [Parameter] public Guid Id { get; set; }

    private ReplayerConnection.Session? _session;
    private RoomStore? _room;
    private TurnStore _turn = new([], []);
    private string? _username;
    private readonly CompositeDisposable _subscriptions = new();

    private HandData CurrentHand => _room!.State.Game.Hands.Single(h => h.Username == _username);

    private void OnStoreChanged<T>(T data) where T : class => StateHasChanged();

    protected override async Task OnInitializedAsync()
    {
        var auth = await Authenticator.GetAuthenticationStateAsync();
        _username = auth.User.Identity!.Name!;

        var connection = new ReplayerConnection(new Uri(Environment.BaseAddress))
        {
            AccessTokenProvider = async () =>
            {
                var result = await Provider.RequestAccessToken();
                result.TryGetToken(out var token);
                return token!.Value;
            },
        };
        
        await connection.StartAsync();
        _session = connection.Spawn(Id, new ReplayerConnection.SessionParameters());

        _session.Events.AddHandToRoom.Subscribe(data =>
        {
            var (_, user, _) = data;
            Snackbar.Add($"{user.Username} has joined the room", Severity.Info, c => c.SnackbarVariant = Variant.Text);
        }).DisposeWith(_subscriptions);

        _session.Events.AddToRoom.Subscribe(room =>
        {
            _room = new RoomStore(room, [
                new LoggingInterceptor<RoomData>(LoggerFactory),
                new TimingInterceptor<RoomData>(LoggerFactory)
            ]);
            _turn = new TurnStore([], [
                new LoggingInterceptor<ImmutableList<Card>>(LoggerFactory),
                new TimingInterceptor<ImmutableList<Card>>(LoggerFactory)
            ]);

            _room.Changes
                .Merge<object>(_turn.Changes)
                .Throttle(TimeSpan.FromMilliseconds(500))
                .Subscribe(OnStoreChanged)
                .DisposeWith(_subscriptions);

            _session.Events.BindRoomState(_room).DisposeWith(_subscriptions);
            StateHasChanged();
        }).DisposeWith(_subscriptions);

        _session.Events.EndGame
            .Subscribe(result => ShowMessage(new SystemMessage { Text = result.Reason, Type = result.ReasonType }))
            .DisposeWith(_subscriptions);

        _session.Events.Chat.Subscribe(message =>
        {
            if (message.Sender.Username != _username)
            {
                Snackbar.Add(
                    @<div>
                        <p class="mud-typography-body2">@message.Sender.Username:</p>
                        <p class="mud-typography-body1">@message.Text</p>
                    </div>,
                    Severity.Normal,
                    c => c.SnackbarVariant = Variant.Text
                );
            }
        }).DisposeWith(_subscriptions);

        _session.Events.SystemMessage.Subscribe(ShowMessage).DisposeWith(_subscriptions);

        _session.Events.TurnAcknowledged.Subscribe(_ => _turn.Mutate(new TurnStore.Clear())).DisposeWith(_subscriptions);
        
        _session.Events.TurnCommitted.Subscribe(resolution =>
        {
            if (resolution.IsCardless)
            {
                ShowMessage(new() { Text = $"{resolution.Player.Username} is cardless.", Type = MessageType.Info });
            }
            if (resolution.IsLastCard)
            {
                ShowMessage(new() { Text = $"{resolution.Player.Username} is on their last card.", Type = MessageType.Warning });
            }
        }).DisposeWith(_subscriptions);

        _session.Events.RemoveFromRoom
            .Subscribe(_ =>
                {
                    var uri = $"/game/{_room!.State.Id}";

                    _room!.Dispose();
                    _turn.Dispose();
                    _session.Dispose();

                    StateHasChanged();
                    Navigator.NavigateTo(uri);
                }
            )
            .DisposeWith(_subscriptions);

        _session.Events.RemoveHandFromRoom.Subscribe(handId =>
        {
            var hand = _room!.State.Game.Hands.Find(h => h.Id == handId)!;
            Snackbar.Add($"{hand.Username} has left the room.", Severity.Info, c => c.SnackbarVariant = Variant.Text);
        }).DisposeWith(_subscriptions);

        _session.Events.TurnCommitted.Subscribe(resolution =>
        {
            var current = _room!.State.Game.Hands[resolution.CurrentTurn].Username;
            var possessive = current == _username ? "your" : $"{current}'s";
            Snackbar.Add($"It is now {possessive} turn.", Severity.Info, c => c.SnackbarVariant = Variant.Text);
        }).DisposeWith(_subscriptions);

        _session.Events.UpdateGameStatus.Subscribe(status => { Snackbar.Add($"The game is now {status.ToString().ToLower()}.", Severity.Info, c => c.SnackbarVariant = Variant.Text); }).DisposeWith(_subscriptions);

        _session.Events.UpdateHandStatus.Subscribe(data =>
        {
            var (handId, status) = data;
            var hand = _room!.State.Game.Hands.Find(h => h.Id == handId)!;
            Snackbar.Add($"{hand.Username} is now {status.ToString().ToLower()}.", Severity.Info, c => c.SnackbarVariant = Variant.Text);
        }).DisposeWith(_subscriptions);
    }
    
    private void ShowMessage(SystemMessage message)
    {
        var severity = message.Type switch
        {
            MessageType.Error => Severity.Error,
            MessageType.Info => Severity.Info,
            MessageType.Success => Severity.Success,
            MessageType.Warning => Severity.Warning,
            _ => throw new ArgumentException("Invalid message type.", nameof(MessageType))
        };
        Snackbar.Add(message.Text, severity, c => c.SnackbarVariant = Variant.Text);
    }

    public void Dispose()
    {
        _subscriptions.Dispose();
        _room?.Dispose();
        _turn.Dispose();
    }
}