name: Build + Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - name: Install Android workload
      run: dotnet workload install android

    - name: Restore dependencies
      run: dotnet restore Karata.slnf

    - name: Build
      run: dotnet build --no-restore Karata.slnf

    - name: Test
      run: dotnet test --no-build --verbosity normal Karata.slnf
